# Arquivos de ambiente
.env
.env.local

# Logs
*.log
npm-debug.log*

# Dependências
node_modules/

# Banco de dados (se usar SQLite)
*.sqlite
*.db

# Arquivos de IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db